﻿@inject HttpClient Http
@inject NavigationManager Navigation

@page "/courses"

@using BlazorTable
@using Model.Model

<h1 class="header" >Предметы</h1>


<Table TableItem="Course" Items="courses" PageSize="20" RowClickAction="OpenCourse">
    <Column TableItem="Course" Title="Название" Field="@(s => s.Name)" Sortable="true" />
    <LoadingDataTemplate>
        <div class="text-center">
            Загрузка...
        </div>
    </LoadingDataTemplate>
    <EmptyDataTemplate>
        <div class="text-center">
            Нет данных
        </div>
    </EmptyDataTemplate>
    <Pager ShowPageNumber="true" ShowTotalCount="false" />
</Table>
<button class="btn btn-primary" @onclick="AddCourse">Добавить</button>

@code
{
    List<Course> courses = null;
    protected override async Task OnInitializedAsync()
    {
        courses = await Http.GetFromJsonAsync<List<Course>>("api/Courses/GetAll");
    }

    private void OpenCourse(Course course)
    {
        Navigation.NavigateTo($"courseForm/{course.Id}");
    }
    private void AddCourse()
    {
        Navigation.NavigateTo($"courseForm/{0}");
    }
}