﻿@page "/courseForm"
@page "/courseForm/{Id:int}"

@using Model.Model

@inject HttpClient Http
@inject NavigationManager Navigation

<div class="header">
    <h1 class="header">@(Course.Id != 0 ? "Редактировать данные о предмете" : "Добавить новый предмет")</h1>
</div>
<div class="edit-form">
    <div class="edit-field">
        Название:
        <input @bind-value="@Course.Name" placeholder="Введите название" />
    </div>
    <button class="btn btn-primary" @onclick="SaveCourse">Сохранить</button>
    @if (Course.Id != 0)
    {
        <button class="btn delete-button" @onclick="RemoveCourse">Удалить</button>
    }
</div>

@code
{
    [Parameter]
    public int Id { get; set; }
    public Course Course { get; set; } = new Course();

    protected override async Task OnInitializedAsync()
    {
        var res = await Http.GetAsync($"api/Courses/GetOne?id={Id}");
        if (res.IsSuccessStatusCode && res.StatusCode != System.Net.HttpStatusCode.NoContent)
            Course = await res.Content.ReadFromJsonAsync<Course>();
    }

    private async Task SaveCourse()
    {
        await Http.PostAsJsonAsync<Course>($"api/Courses/{(Course.Id == 0 ? "Add" : "Update")}", Course);
        Navigation.NavigateTo($"courses");
    }

    private async Task RemoveCourse()
    {
        await Http.PostAsJsonAsync<Course>($"api/Courses/Remove", Course);
        Navigation.NavigateTo($"courses");
    }
}


