﻿@page "/groupForm"
@page "/groupForm/{Id:int}"

@using Model.Model
@using BlazorTable

@inject HttpClient Http
@inject NavigationManager Navigation

<div class="header">
    <h1 class="header"> @(Group.Id != 0 ? "Редактировать данные группы" : "Создать новую группу")</h1>
</div>

<div class="edit-form">
    <div class="edit-field">
        Номер:
        <input @bind-value="@Group.Name" placeholder="Введите номер группы" />
    </div>
    <div class="edit-field">
        Степень:
        <select @bind="@Group.Degree">
            <option value="0">Выберите</option>
            @foreach (var degree in degrees)
            {
                <option value=@degree>@degree.GetName()</option>
            }
        </select>
    </div>
    <div class="edit-field">
        Длительность обучения:
        <input @bind-value="@Group.EducationDuration" placeholder="Введите длительность обучения группы" />
    </div>
    <div class="edit-field">
        Курс:
        <input @bind-value="@Group.CurrentYear" placeholder="Введите курс группы" />
    </div>
    @if (Group.Id != 0)
    {
        <div class="header">
            <h1 class="header">Студенты</h1>
        </div>
        <Table TableItem="Student" Items="Group.Students">
            <Column TableItem="Student" Title="ФИО" Field="@(s => s.FullName)" Sortable="true" />
            <Column TableItem="Student" Title="Email" Field="@(s => s.Email)" Sortable="true">
                <Template>
                    <a href="mailto:@context.Email">@context.Email</a>
                </Template>
            </Column>
            <LoadingDataTemplate>
                <div class="text-center">
                    Загрузка...
                </div>
            </LoadingDataTemplate>
            <EmptyDataTemplate>
                <div class="text-center">
                    Нет данных
                </div>
            </EmptyDataTemplate>
        </Table>
    }
    <button class="btn btn-primary" @onclick="SaveGroup">Сохранить</button>
    @if (Group.Id != 0)
    {
        <button class="btn delete-button">Удалить</button>
    }
</div>

@code
{
    [Parameter]
    public int Id { get; set; }
    public Group Group { get; set; } = new Group();
    bool loading, noStudents;
    Degree [] degrees = Enum.GetValues<Degree>();

    protected override async Task OnInitializedAsync()
    {
        loading = true;

        if (Id != 0)
        {
            var res = await Http.GetAsync($"api/Groups/GetOne?id={Id}");
            if (res.IsSuccessStatusCode && res.StatusCode != System.Net.HttpStatusCode.NoContent)
                Group = await res.Content.ReadFromJsonAsync<Group>();
        }

        loading = false;
        noStudents = (Group?.Students?.Count ?? 0) == 0;
    }

    private async Task SaveGroup()
    {
        if (!Group.IsComplete) return;
        await Http.PostAsJsonAsync<Group>($"api/Groups/{(Group.Id == 0 ? "Add" : "Update")}", Group);
        Navigation.NavigateTo($"groups");
    }

    private async Task RemoveGroup()
    {
        await Http.PostAsJsonAsync<Group>($"api/Groups/Remove", Group);
        Navigation.NavigateTo($"groups");
    }
}