﻿@inject HttpClient Http
@inject NavigationManager Navigation

@page "/groups"

@using BlazorTable
@using Model.Model

<h1 class="header">Группы</h1>

@*<EmptyComponentWrapper IsEmpty="noGroups" IsLoading="loading">*@
<Table TableItem="Group" Items="groups" PageSize="20" RowClickAction="OpenGroup">
    <Column TableItem="Group" Title="Номер" Field="@(s => s.Name)" Sortable="true" />
    <Column TableItem="Group" Title="Степень" Field="@(s => s.Degree)" Sortable="true">
        <Template>
            @context.Degree.GetName()
        </Template>
    </Column>
    <Column TableItem="Group" Title="Длительность обучения" Field="@(s => s.EducationDuration)" Sortable="true" />
    <Column TableItem="Group" Title="Курс" Field="@(s => s.CurrentYear)" Sortable="true" />
    <LoadingDataTemplate>
        <div class="text-center">
            Загрузка...
        </div>
    </LoadingDataTemplate>
    <EmptyDataTemplate>
        <div class="text-center">
            Нет данных
        </div>
    </EmptyDataTemplate>
</Table>
@*</EmptyComponentWrapper>*@
<button class="btn btn-primary" @onclick="AddGroup">Добавить</button>
@code
{
    List<Group> groups = null;
    bool loading, noGroups;
    protected override async Task OnInitializedAsync()
    {
        loading = true;
        groups = await Http.GetFromJsonAsync<List<Group>>("api/Groups/GetAll");
        loading = false;
        noGroups = (groups?.Count ?? 0) == 0;
    }

    private void OpenGroup(Group group)
    {
        Navigation.NavigateTo($"{nameof(GroupForm)}/{group.Id}");
    }
    private void AddGroup()
    {
        Navigation.NavigateTo($"{nameof(GroupForm)}");
    }
}
