﻿@page "/"
@page "/{groupId:int}"

@using BlazorTable
@using Model.Model

@inject HttpClient Http
@inject NavigationManager Navigation

<h1 class="header">Расписание</h1>
<EmptyComponentWrapper IsEmpty="noGroups" IsLoading="loadingGroups" EmptyPlaceHolder="Нет групп" LoadingPlaceHolder="Идет загрузка списка групп...">
    Группа:
    <select placeholder="Выберите группу" @bind="groupId">
        <option value="0">Выберите...</option>
        @foreach (var group in groups)
        {
            <option value=@group.Id>@group.Name</option>
        }
    </select>

    <button class="btn btn-primary" @onclick="LoadTimeTable" style="margin: 1rem 0; display:block;">Загрузить</button>
</EmptyComponentWrapper>
@if (tableWasLoaded)
{
    <EmptyComponentWrapper IsLoading="loadingTimeTable" EmptyPlaceHolder="Нет расписания" LoadingPlaceHolder="Идет загрузка расписания...">
        @if (!noTimeTable)
        {
        <p>Нажмите на ячейку, чтобы отредактировать или добавить занятие. Форма появится под таблицей.</p>
        <table class="table table-bordered time-table">
            <tr>
                <th class="th-bold" />
                @foreach (var day in days)
                {
                    <th class="th-bold">@day</th>
                }
            </tr>
            @for (int slot = 0; slot < times.Length; slot++)
            {
                <tr>
                    <th>@times[slot].start<br />@times[slot].end</th>
                    @for (int day = 0; day < days.Length; day++)
                    {
                        var record = timeTable[slot, day];
                        if (record == null) record = new TimeTableRecord { DayOfWeek = day, TimeSlot = slot };
                        <td @onclick="async () =>
                                      {
                                          edited = record;
                                          editedTeacherId = edited.Teacher?.Id ?? 0;
                                          editedCourseId = edited.Course?.Id ?? 0;
                                          editedRoomId = edited.Room?.Id ?? 0;
                                      }">
                            @if (record?.Course != null)
                            {
                                <div>@record.Course</div>
                                <div>@record.Teacher.FullName</div>
                                <div>Аудитория: @record.Room.Number</div>
                            }
                            else
                            {
                                <span>-</span>
                            }
                        </td>
                    }
                </tr>
            }
        </table>
        }
        else
        {
            <h5>Нет расписания</h5>
            <button class="btn btn-primary" @onclick="() => noTimeTable = false" style="margin: 1rem 0; display:block;">Создать</button>
        }
    </EmptyComponentWrapper>
}
@if (edited != null)
{
    <div class="edit-form">
        <div class="edit-field">
            Предмет:
            <select @bind="editedCourseId">
                <option value="0">Выберите</option>
                @foreach (var course in courses)
                {
                    <option value=@course.Id>@course</option>
                }
            </select>
        </div>
        <div class="edit-field">
            Преподаватель:
            <select @bind="editedTeacherId">
                <option value="0">Выберите</option>
                @foreach (var teacher in teachers)
                {
                    <option value=@teacher.Id>@teacher.FullName</option>
                }
            </select>
        </div>
        <div class="edit-field">
            Аудитория:
            <select @bind="editedRoomId">
                <option value="0">Выберите</option>
                @foreach (var room in rooms)
                {
                    <option value=@room.Id>@room</option>
                }
            </select>
        </div>
        <button class="btn btn-primary" @onclick="SaveRecord">Сохранить</button>
        @if (edited.Id != 0)
        {
            <button class="btn delete-button" @onclick="RemoveRecord">Удалить</button>
        }
    </div>
}

@code
{
    [Parameter]
    public int groupId { get; set; }
    List<Group> groups = new();
    List<Course> courses = new();
    List<Teacher> teachers = new();
    List<Room> rooms = new();
    TimeTableRecord[,] timeTable = new TimeTableRecord[6, 7];
    TimeTableRecord edited;
    bool loadingTimeTable, noTimeTable, tableWasLoaded;
    bool loadingGroups, noGroups;
    int editedTeacherId, editedCourseId, editedRoomId;

    static (string start, string end)[] times =
    {
        ("9:00","10:30"),
        ("10:45","12:15"),
        ("13:00","14:30"),
        ("14:45","16:15"),
        ("16:30","18:00"),
        ("18:15","19:45")
    };
    static string[] days =
    {
        "Понедельник",
        "Вторник",
        "Среда",
        "Четверг",
        "Пятница",
        "Суббота",
        "Воскресенье"
    };

    protected override async Task OnInitializedAsync()
    {
        loadingGroups = true;
        groups = await Http.GetFromJsonAsync<List<Group>>("api/Groups/GetAll");
        loadingGroups = false;
        if (groupId != 0) await LoadTimeTable();
        teachers = await Http.GetFromJsonAsync<List<Teacher>>("api/Teachers/GetAll");
        courses = await Http.GetFromJsonAsync<List<Course>>("api/Courses/GetAll");
        rooms = await Http.GetFromJsonAsync<List<Room>>("api/Rooms/GetAll");
    }

    private async Task LoadTimeTable()
    {
        if (groupId == 0) return;
        tableWasLoaded = true;
        loadingTimeTable = true;
        var readResult = await Http.GetFromJsonAsync<List<List<TimeTableRecord>>>($"api/TimeTable/GetTimeTable?groupId={groupId}");
        foreach (var day in readResult)
            foreach (var course in day)
                timeTable[course.TimeSlot, course.DayOfWeek] = course;
        loadingTimeTable = false;
        noTimeTable = readResult.Count == 0 || !readResult.Any(r => r.Count != 0);
    }

    private async Task SaveRecord()
    {
        edited.Teacher = teachers.FirstOrDefault(t => t.Id == editedTeacherId);
        edited.Room = rooms.FirstOrDefault(r => r.Id == editedRoomId);
        edited.Course = courses.FirstOrDefault(c => c.Id == editedCourseId);
        edited.Group = groups.FirstOrDefault(c => c.Id == groupId);
        if (!edited.IsComplete) return;
        await Http.PostAsJsonAsync<TimeTableRecord>($"api/TimeTable/{ (edited.Id == 0 ? "Add" : "Update") }", edited);
        timeTable[edited.TimeSlot, edited.DayOfWeek] = edited;
        edited = null;
    }

    private async Task RemoveRecord()
    {
        await Http.PostAsJsonAsync<TimeTableRecord>($"api/TimeTable/Remove", edited);
        timeTable[edited.TimeSlot, edited.DayOfWeek] = new TimeTableRecord { TimeSlot = edited.TimeSlot, DayOfWeek = edited.DayOfWeek };
        edited = null;
    }
}


