﻿@inject HttpClient Http
@inject NavigationManager Navigation

@page "/rooms"

@using BlazorTable
@using Model.Model

<h1 class="header">Аудитории</h1>

<Table TableItem="Room" Items="rooms" PageSize="20" RowClickAction="OpenRoom">
    <Column TableItem="Room" Title="Номер" Field="@(s => s.Number)" Sortable="true" />
    <LoadingDataTemplate>
        <div class="text-center">
            Загрузка...
        </div>
    </LoadingDataTemplate>
    <EmptyDataTemplate>
        <div class="text-center">
            Нет данных
        </div>
    </EmptyDataTemplate>
    <Pager ShowPageNumber="true" ShowTotalCount="false" />
</Table>
<button class="btn btn-primary" @onclick="AddRoom">Добавить</button>

@code
{
    List<Room> rooms = null;
    protected override async Task OnInitializedAsync()
    {
        rooms = await Http.GetFromJsonAsync<List<Room>>("api/Rooms/GetAll");
    }
    private void OpenRoom(Room room)
    {
        Navigation.NavigateTo($"roomForm/{room.Id}");
    }
    private void AddRoom()
    {
        Navigation.NavigateTo($"roomForm/{0}");
    }
}