﻿@page "/roomForm"
@page "/roomForm/{Id:int}"

@using Model.Model

@inject HttpClient Http
@inject NavigationManager Navigation

<div class="header">
    <h1 class="header">@(Room.Id != 0 ? "Редактировать данные об аудитории" : "Добавить новую аудиторию")</h1>
</div>

<div class="edit-form">
    <div class="edit-field">
        Номер:
        <input @bind-value="@Room.Number" placeholder="Введите номер аудитории" />
    </div>
    <button class="btn btn-primary" @onclick="SaveRoom">Сохранить</button>
    @if (Room.Id != 0)
    {
        <button class="btn delete-button" @onclick="RemoveRoom">Удалить</button>
    }
</div>

@code
{
    [Parameter]
    public int Id { get; set; }
    public Room Room { get; set; } = new Room();

    protected override async Task OnInitializedAsync()
    {
        var res = await Http.GetAsync($"api/Rooms/GetOne?id={Id}");
        if (res.IsSuccessStatusCode && res.StatusCode != System.Net.HttpStatusCode.NoContent)
            Room = await res.Content.ReadFromJsonAsync<Room>();
    }

    private async Task SaveRoom()
    {
        await Http.PostAsJsonAsync<Room>($"api/Rooms/{(Room.Id == 0 ? "Add" : "Update")}", Room);
        Navigation.NavigateTo($"rooms");
    }

    private async Task RemoveRoom()
    {
        await Http.PostAsJsonAsync<Room>($"api/Rooms/Remove", Room);
        Navigation.NavigateTo($"rooms");
    }
}

