﻿@page "/studentForm"
@page "/studentForm/{Id:int}"

@using Model.Model

@inject HttpClient Http
@inject NavigationManager Navigation

<div class="header">
    <h1 class="header">@(Student.Id != 0 ? "Редактировать данные студента" : "Создать запись о студенте")</h1>
</div>
<div class="edit-form">
    <div class="edit-field">
        Имя:
        <input @bind-value="@Student.FirstName" placeholder="Введите имя" />
    </div>
    <div class="edit-field">
        Фамилия:
        <input @bind-value="@Student.LastName" placeholder="Введите фамилию" />
    </div>
    <div class="edit-field">
        Отчество:
        <input @bind-value="@Student.Patronymic" placeholder="Введите отчество (если есть)" />
    </div>
    <div class="edit-field">
        Группа:
        <select @bind="groupId">
            <option value="0">Выберите</option>
            @foreach (var group in groups)
            {
                <option value=@group.Id>@group.Name</option>
            }
        </select>
    </div>
    <div class="edit-field">
        E-mail:
        <input @bind-value="@Student.Email" placeholder="Введите e-mail" />
    </div>
    <button class="btn btn-primary" @onclick="SaveStudent">Сохранить</button>
    @if (Student.Id != 0)
    {
        <button class="btn delete-button" @onclick="RemoveStudent">Удалить</button>
    }
</div>

@code
{
    public int groupId { get; set; }
    [Parameter]
    public int Id { get; set; }
    public Student Student { get; set; } = new Student();
    public List<Group> groups = new();

    protected override async Task OnInitializedAsync()
    {
        groups = await Http.GetFromJsonAsync<List<Group>>("api/Groups/GetAll");
        var res = await Http.GetAsync($"api/Students/GetOne?id={Id}");
        if (res.IsSuccessStatusCode && res.StatusCode != System.Net.HttpStatusCode.NoContent)
        {
            Student = await res.Content.ReadFromJsonAsync<Student>();
            groupId = Student.Group?.Id ?? 0;
        }
    }

    private async Task SaveStudent()
    {
        Student.Group = groups.First(g => g.Id == groupId);
        if (!Student.IsComplete) return;
        await Http.PostAsJsonAsync<Student>($"api/Students/{(Student.Id == 0 ? "Add" : "Update")}", Student);
        Navigation.NavigateTo($"students");
    }

    private async Task RemoveStudent()
    {
        await Http.PostAsJsonAsync<Student>($"api/Students/Remove", Student);
        Navigation.NavigateTo($"students");
    }
}