﻿@inject HttpClient Http
@inject NavigationManager Navigation

@page "/students"

@using BlazorTable
@using Model.Model

<h1 class="header">Студенты</h1>

@*<EmptyComponentWrapper IsEmpty="noStudents" IsLoading="loading">*@
<Table TableItem="Student" Items="students" RowClickAction="OpenStudent">
    <Column TableItem="Student" Title="ФИО" Field="@(s => s.FullName)" Sortable="true" />
    <Column TableItem="Student" Title="Email" Field="@(s => s.Email)" Sortable="true">
        <Template>
            <a href="mailto:@context.Email">@context.Email</a>
        </Template>
    </Column>
    <LoadingDataTemplate>
        <div class="text-center">
            Загрузка...
        </div>
    </LoadingDataTemplate>
    <EmptyDataTemplate>
        <div class="text-center">
            Нет данных
        </div>
    </EmptyDataTemplate>
    <Column TableItem="Student" Title="Номер группы" Field="@(s => s.Group)" Sortable="true" />
</Table>
@*</EmptyComponentWrapper>*@
<button class="btn btn-primary" @onclick="AddStudent">Добавить</button>

@code
{
    List<Student> students = null;
    bool loading, noStudents;
    protected override async Task OnInitializedAsync()
    {
        loading = true;
        students = await Http.GetFromJsonAsync<List<Student>>("api/Students/GetAll");
        loading = false;
        noStudents = (students?.Count ?? 0) == 0;
    }

    private void OpenStudent(Student student)
    {
        Navigation.NavigateTo($"{nameof(StudentForm)}/{student.Id}");
    }
    private void AddStudent()
    {
        Navigation.NavigateTo($"{nameof(StudentForm)}");
    }
}