﻿@page "/teacherForm"
@page "/teacherForm/{Id:int}"

@using Model.Model

@inject HttpClient Http
@inject NavigationManager Navigation

<div class="header">
    <h1 class="header">@(Teacher.Id != 0 ? "Редактировать данные преподавателя" : "Создать запись о преподавателе")</h1>
</div>

<div class="edit-form">
    <div class="edit-field">
        Имя:
        <input @bind-value="@Teacher.FirstName" placeholder="Введите имя" />
    </div>
    <div class="edit-field">
        Фамилия:
        <input @bind-value="@Teacher.LastName" placeholder="Введите фамилию" />
    </div>
    <div class="edit-field">
        Отчество:
        <input @bind-value="@Teacher.Patronymic" placeholder="Введите отчество (есть есть)" />
    </div>
    <div class="edit-field">
        Степень:
        <input @bind-value="@Teacher.Degree" placeholder="Введите степень (должность)" />
    </div>
    <div class="edit-field">
        E-mail:
        <input @bind-value="@Teacher.Email" placeholder="Введите e-mail" />
    </div>
    <div class="edit-field">
        Описание:
        <textarea style="display:block;" @bind="@Teacher.Description" placeholder="Введите здесь названия преподаваемых дисциплин и любую другую информацию о преподавателе" />
    </div>
    <button class="btn btn-primary" @onclick="SaveTeacher">Сохранить</button>
    @if (Teacher.Id != 0)
    {
        <button class="btn delete-button" @onclick="RemoveTeacher">Удалить</button>
    }
</div>

@code
{
    [Parameter]
    public int Id { get; set; }
    public Teacher Teacher { get; set; } = new Teacher();

    protected override async Task OnInitializedAsync()
    {
        var res = await Http.GetAsync($"api/Teachers/GetOne?id={Id}");
        if (res.IsSuccessStatusCode && res.StatusCode != System.Net.HttpStatusCode.NoContent)
            Teacher = await res.Content.ReadFromJsonAsync<Teacher>();
    }

    private async Task SaveTeacher()
    {
        if (!Teacher.IsComplete) return;
        await Http.PostAsJsonAsync<Teacher>($"api/Teachers/{(Teacher.Id == 0 ? "Add" : "Update")}", Teacher);
        Navigation.NavigateTo($"teachers");
    }

    private async Task RemoveTeacher()
    {
        await Http.PostAsJsonAsync<Teacher>($"api/Teachers/Remove", Teacher);
        Navigation.NavigateTo($"teachers");
    }
}

