﻿@inject HttpClient Http
@inject NavigationManager Navigation

@page "/teachers"

@using BlazorTable
@using Model.Model

<h1 class="header">Преподаватели</h1>

<Table TableItem="Teacher" Items="teachers" PageSize="20" RowClickAction="OpenTeacher">
    <Column TableItem="Teacher" Title="ФИО" Field="@(s => s.FullName)" Sortable="true" />
    <Column TableItem="Teacher" Title="Степень" Field="@(s => s.Degree)" Sortable="true" />
    <Column TableItem="Teacher" Title="Email" Field="@(s => s.Email)" Sortable="true">
        <Template>
            <a href="mailto:@context.Email">@context.Email</a>
        </Template>
    </Column>
    <LoadingDataTemplate>
        <div class="text-center">
            Загрузка...
        </div>
    </LoadingDataTemplate>
    <EmptyDataTemplate>
        <div class="text-center">
            Нет данных
        </div>
    </EmptyDataTemplate>
    <Pager ShowPageNumber="true" ShowTotalCount="false" />
</Table>
<button class="btn btn-primary" @onclick="AddTeacher">Добавить</button>

@code
{
    List<Teacher> teachers = null;
    protected override async Task OnInitializedAsync()
    {
        teachers = await Http.GetFromJsonAsync<List<Teacher>>("api/Teachers/GetAll");
    }

    private void OpenTeacher(Teacher teacher)
    {
        Navigation.NavigateTo($"teacherForm/{teacher.Id}");
    }
    private void AddTeacher()
    {
        Navigation.NavigateTo($"teacherForm/{0}");
    }
}