﻿@if(IsLoading && !IsEmpty)
{
    <h5>@LoadingPlaceHolder</h5>
}
@if(!IsLoading && IsEmpty)
{
    <h5>@EmptyPlaceHolder</h5>
}
@if (!IsLoading && !IsEmpty)
{
    @ChildContent
}



@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }
    [Parameter]
    public bool IsEmpty { get; set; }
    [Parameter]
    public string EmptyPlaceHolder { get; set; } = "Нет данных";
    [Parameter]
    public bool IsLoading { get; set; }
    [Parameter]
    public string LoadingPlaceHolder { get; set; } = "Подождите, идет загрузка...";

}
