﻿<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Деканат</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Расписание
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="students">
                <span class="oi oi-person" aria-hidden="true"></span>Студенты
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="groups">
                <span class="oi oi-people" aria-hidden="true"></span>Группы
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="teachers">
                <span class="oi oi-globe" aria-hidden="true"></span>Преподаватели
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="rooms">
                <span class="oi oi-home" aria-hidden="true"></span>Аудитории
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="courses">
                <span class="oi oi-spreadsheet" aria-hidden="true"></span>Предметы
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
