﻿@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.header {
    margin: 0 0 2rem 0;
}

.edit-form
{
    display: inline-block;
}

.edit-field
{
    display: flex;
    justify-content: space-between;
    margin: 0 0 1rem 0;
}

.delete-button {
    color: #fff;
    background-color: red;
    border-color: firebrick;
    margin: 0 0 0 1rem;
}

input, textarea, select
{
    margin: 0 1rem;
    width: 25rem;
}

input, select 
{
    height: 2rem;
}

h5
{
    margin: 0 0 1rem 0;
}

.table:hover{
    cursor: pointer;
}

.time-table {
    width: 100%;
    text-align: center;
}
